*{
    font-family: "Plus Jakarta Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #FFFEFA;
}

/* common class */

.container {
    width: 87.5%;
    margin: 0 auto;
}

.heading {
    margin-bottom: 55px;
    text-align: center;
}

.heading h4 {
    font-size: 22px;
    font-weight: bold;
    color: #6A14DA;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.heading h2 {
    font-size: 40px;
    font-weight: bold;
    color: #000000;
}

.cardbox {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 60px;
}

.card {
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px #00000025;
    width: 330px;
    text-align: center;
}
.card * {
    margin-bottom: 18px;
}

.card h3 {
    font-size: 22px;
    font-weight: bolder;
    line-height: 30px;
    color: #0D1321;
}

.card p {
    font-size: 15px;
    color: #0D1321;
    line-height: 25px;
}

.card a {
    font-size: 15px;
    color: #0D1321;
}

.project-card {
    padding: 45px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #872BFF;
    border-radius: 20px;
    gap: 25px;
    margin-bottom: 30px;
}

.project-image img {
    width: 400px;
   border-radius: 16px;
}

.project-content h3 {
    font-size: 30px;
    font-weight: bold;
    color: #0E0E0E;
}

.project-content p {
    font-size: 15px;
    line-height: 24px;
    color: #0E0E0E70;
}

.project-content * {
    margin-bottom: 20px;
}

.company-card {
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.brands {
    padding: 40px;
    box-shadow: 0px 4px 4px #0E0E0E15;
    border-radius: 16px;
    background-color: #FFFFFF;
    
}

.brands:hover {
    box-shadow: 0px 4px 4px #0E0E0E25;
    transform: translateY(-5px);
    transition-duration: 300ms;
}

.hidden {
    display: none;
}



/* common class end */

/* hero section  */
#hero {
    background: url(images/Hero-bg.png);
    padding-left: 30px;
    padding-top: 20px;
    margin-bottom: 150px;
    border: 1px solid #872BFF10;
}
#hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 600px;
    width: 87.5%;
    margin: 0 auto;
    gap: 30px;
}


#hero-content h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
#hero-content h1 span {
    color: #872BFF;
}
#hero-content p {
    font-size: 18px;
    color: #8A8A8A;
    line-height: 30px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
}
.btn {
    padding: 14px 28px;
    border-radius: 30px;
    background-color: #872BFF;
    cursor: pointer;
    color: whitesmoke;
    font-weight: bold;
    box-shadow: 0px 11px 31px rgba(0, 0, 0, 0);
    margin-right: 10px;
    transition-duration: 1ms;
}
.btn:hover {
    background-color: #b6afbf;
    color: black;
}
.btn-white {
    padding: 14px 28px;
    border-radius: 30px;
    background-color: #FFFFFF;
    cursor: pointer;
    border: 2px solid #872BFF;
    transition-duration: 1ms;
    color: rgb(9, 0, 0);
    font-weight: bold;
}
.btn-white:hover {
    background-color: rgb(202, 151, 211);
    color: white;
    }

 #hero-image img {
        width: 520px;
        height: 600px;
        vertical-align: middle;
}

 #skill,#projects ,#experience{
        margin-bottom: 150px;
 }

#btn-container {
    text-align: center;
    padding: 50px 0;
}
#footer {
    margin-bottom: 20px;
}

#footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo {
    display: flex;
    gap: 40px;  
}

/* Resppnseive design  */

/* 1024px - 1248px: Tablet landscape and small laptops.  */

@media screen and (min-width: 1024px) and (max-width: 1248px) {
    #hero-content h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
}
#hero-btns {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

}




/* 768px - 1023px: Tablet portrait orientation. */

@media screen and (max-width: 1023px) {
    #hero-container {
    flex-direction: column;
    text-align: center;
}
#hero-content h1 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0px;
    
}
#hero-image img {
    width: 400px;
    height: 350px;
}


.project-image img {
    width: 250px;
    height: auto;   

}
.container {
    width: 90%;
    margin: 0 auto;
}



}

/* 481px - 767px: Large smartphones and small tablets (landscape).  */

@media screen and (max-width: 767px) {
    
    .cardbox {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px;
}
.card {
    width: 100%;
    margin-bottom: 30px;

}
.heading {
    margin-bottom: 20px;
}
.heading h4 {
    font-size: 18px;
    margin: 0px;
}
.heading h2 {
    font-size: 30px;
}

.project-card {
    flex-direction: column;
    text-align: center;
padding: 0px;
}
.project-image img {
    width: 90%;
    height: auto;
    margin-top: 10px;
}
.container {
    align-items: center;
}
.heading {
    text-align: center;
}

}



/* 320px–480px: Small to medium smartphones (portrait).  */

@media screen and (max-width: 480px) {
    #hero-container {
    flex-direction: column;
    text-align: center;
}
#hero-content h1 {
    font-size: 20px;
    margin-bottom: 5px;
}
#hero-image img {
    width: 100%;
    
}

#hero-content p {
    font-size: 14px;
}
#hero-btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
}

